.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100%;
}

.login > a {
    padding: 20px;
    background-color: #1db954;
    color: white;
    border-radius: 99px;
    font-weight: 600;
    text-decoration: none;
}

.login__logo {
    height: 150px;
    padding: 10px;
    width: 200px;
    object-fit: contain;
    object-fit: contain;
    margin-right: auto;
}